.base-dialog {
  .head {
    padding: 5px 10px;
    .title {
      margin: 0;
      font-weight: bold;
      font-size: 13px;
    }
    background-color: #f2f2f2;
    border-bottom: 1px solid #dee2e6;
  }
  .body {
    padding: 15px 10px;

    font-size: 13px;
  }
  .footer {
    padding: 8px 10px;
    background-color: #f2f2f2;
    .btn {
      font-size: 13px;
    }
  }
  .mat-icon {
    display: block;
  }
}
