<div class="container">
  <div class="card my-3">
    <div class="card-body">
      <base-block id="demo">
        <h3>Demo Loading Block</h3>
        <p>Nội dung Block cần loadding</p>
      </base-block>
      <button
        class="btn"
        [ngClass]="{ 'btn-primary': !isLoad, 'btn-secondary': isLoad }"
        (click)="toggleLoad()"
      >
        <span *ngIf="isLoad">Tắt loading</span>
        <span *ngIf="!isLoad">Bật loading</span>
      </button>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <base-float id="demo_float" #float>
        <p>Nội dung Float Panel</p>
      </base-float>
      <div>
        <h3>Demo Float Panel</h3>
        <button class="btn btn-info" (click)="showFloat()">Bật float</button>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h3>Demo IN</h3>
      <base-print pid="abcprint" label="in đơn" printTitle="c Tiêu đề In">
        Nội dung cần in
      </base-print>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h3>Demo Show Notification</h3>
      <button class="btn btn-info" (click)="showNotification()">
        show notification
      </button>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h3>Demo Show Dialog</h3>
      <button class="btn btn-info" (click)="showDialog()">Bật Dialog</button>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h3>Demo Step</h3>
      <base-step
        class="w-100"
        [(step)]="step"
        (stepChange)="stepChange($event)"
        [list]="[
          { step: 1, label: 'Chọn tệp nguồn' },
          { step: 2, label: 'Ghép dữ liệu' },
          { step: 3, label: 'Xem trước' },
          { step: 4, label: 'Nhập khẩu' }
        ]"
      ></base-step>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h3>Demo Import</h3>
      <base-import
        exam="/template/excel/ImportServices.xlsx"
        (import)="doImport($event)"
        #importService
        [objectMapper]="objServiceMaper"
      ></base-import>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h3>Demo Form Controls</h3>
      <base-time label="time control"></base-time>
    </div>
  </div>
</div>
