<div class="login">
  <div class="wrap">
    <base-block id="login">
      <form *ngIf="!isChooseStore" (ngSubmit)="onSubmit(frm)" #frm="ngForm">
        <h3 class="title">Đăng Nhập</h3>
        <div class="form-content">
          <base-input [(ngModel)]="username" tabindex="1" name="username" placeholder="Tên đăng nhập" class="mb-3"></base-input>
          <base-input [(ngModel)]="password" tabindex="2" type="password" name="password" placeholder="Mật khẩu" class="mb-3"></base-input>
          <div class="d-flex justify-content-center">
            <div class="form-check">
              <input [(ngModel)]="isRemember" name="isRemember" class="form-check-input" type="checkbox" id="isRemember" tabindex="3" />
              <label class="form-check-label" for="isRemember"> Ghi nhớ mật khẩu </label>
            </div>
          </div>
          <a class="link my-4 mb-3 d-block" [routerLink]="['/auth/forgot']" routerLinkActive="active">Quên mật khẩu</a>
          <button tabindex="4" class="btn btn-primary w-100" type="submit">Đăng nhập</button>

          <div class="d-block text-center mt-3">
            <a class="link" [routerLink]="['/auth/register']" routerLinkActive="active">Đăng ký</a>
          </div>
        </div>
      </form>
      <form *ngIf="isChooseStore" (ngSubmit)="onSubmitLogin(frm)" #frm="ngForm">
        <h3 class="title">Chọn chi nhánh</h3>
        <i class="mb-4 d-block">Chọn thông tin để đăng nhập hệ thống</i>
        <base-select
          label="Chọn chi nhánh"
          row="true"
          [(ngModel)]="store"
          [list]="stores"
          name="store"
          [config]="{ valueMember: 'storeId', displayMember: 'storeName' }"
        ></base-select>
        <button tabindex="4" class="btn btn-primary w-100 mt-3" type="submit">Tiếp tục</button>
      </form>
    </base-block>
    <span class="copy-right">Copyright ©2022 SIMMED IT</span>
  </div>
</div>
