.login{
    background: url("/assets/images/login.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    .wrap{
        width: 400px;
        border-radius: 4px;
        padding: 40px;
        background: #fff;
        position: relative;
        .copy-right{
            padding-top: 14px;
            font-size: 12px;
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            bottom: -28px;
            color: rgba(255,255,255,.6);
        }
    }
}