.base-paging {
  border-top: 1px solid rgb(203, 203, 203);
  background: #fff;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  .summary {
    display: inline-block;
    width: calc(100% - 390px);
    overflow-y: auto;
    padding: 0px 15px;
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(#8b8b8b, 30%);
      border-radius: 0;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      height: 6px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      box-shadow: inset 0 0 6px rgba(#8b8b8b, 30%);
      background-color: rgba(#8b8b8b, 100%);
    }
    .summary-item {
      margin: 0 18px;
      min-width: 90px;
    }
  }
  .paging {
    display: flex;
    .dropdown-center {
      .btn {
        border: 1px solid rgb(181, 181, 181);
        font-size: 13px;
        color: #000;
        padding-top: 8px;
        padding-left: 15px;
        padding-right: 15px;
        &::after {
          display: none;
        }
        .fa {
          margin-left: 15px;
        }
      }
      .dropdown-menu {
        font-size: 13px;
        border: none;
        box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.16);
        li {
          &.active {
            a {
              .fa {
                display: block;
              }
            }
          }
          a {
            padding: 8px 13px;
            padding-right: 10px;
            display: inline-flex;
            justify-content: space-between;
            .fa {
              font-family: "Font Awesome 6 Free";
              content: "\f00c";
              color: rgb(0, 84, 120);
              display: none;
              margin-left: 10px;
              padding: 4px;
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .btn {
      padding: 5px;
      color: rgb(143, 141, 141);
      &:disabled {
        border: none;
        color: rgb(216, 213, 213);
        cursor: not-allowed;
      }
      &:hover {
        color: green;
      }
    }
    .text {
      display: inline-flex;
      strong {
        line-height: 20px;
        padding: 8px 10px;
      }
      span {
        line-height: 20px;
        padding: 8px 4px;
      }
    }
  }
}
