<div class="forgot">
    <div class="wrap">
        <base-block id="forgot" (onInit)="onInit()">
            <form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
                <h3>Quên mật khẩu</h3>
                <div class="form-content">
                    <div class="row">
                        <div class="col-12">
                            <base-input [(ngModel)]="email" name="email" label="Nhập email đã đăng ký" placeholder="Email" class="mb-3"></base-input>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                        <span *ngIf="!isVerifyEmail" >
                            <i class="me-3 fa-solid fa-arrow-right-long"></i> Tiếp theo
                        </span>
                        <span *ngIf="isVerifyEmail" >
                            Khôi phục mật khẩu <i class="fa-solid fa-key"></i>
                        </span>
                    </button>
                    <div class="d-block text-center mt-3">
                        <a class="link" [routerLink]="['/auth']" routerLinkActive="active" >Đăng nhập</a>
                    </div>
                </div>
            </form>
        </base-block>
        <span class="copy-right">Copyright ©2022 SIMMED IT</span>
    </div>
</div>