$color-primary: #4bb543;

.stepper {
  padding: 15px;
  width: 100%;
  .stepper-bar {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 20px;
    .stepper-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      cursor: pointer;
      @media (max-width: 768px) {
        font-size: 12px;
      }

      &::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 15px;
        left: -50%;
        z-index: 2;
      }
      &::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 15px;
        left: 50%;
        z-index: 2;
      }
      .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
      }

      &.active {
        font-weight: bold;
        .step-counter {
          color: $color-primary;
          background: #fff;
          border: 3px solid $color-primary;
        }
      }
      &.completed {
        .step-counter {
          color: #fff;
        }
        &::after {
          position: absolute;
          content: "";
          border-bottom: 2px solid $color-primary;
          width: 100%;
          top: 15px;
          left: 50%;
          z-index: 3;
        }
        .step-counter {
          background-color: $color-primary;
        }
      }
      &:first-child::before {
        content: none;
      }
      &:last-child::after {
        content: none;
      }
    }
  }
}
