<div class="form-group" [class]="class" [ngClass]="{ 'form-row': row }">
  <label *ngIf="label" [for]="id"
    >{{ label }}<span class="text-danger ms-1" *ngIf="required">*</span></label
  >
  <ng-container *ngIf="type == 'search'; else number">
    <div class="search-control w-100">
      <button class="btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <input
        [type]="type"
        [(ngModel)]="value"
        [placeholder]="placeholder"
        class="form-control"
      />
    </div>
  </ng-container>

  <ng-template #number>
    <ng-container *ngIf="type == 'number'; else checkbox">
      <div class="number-control w-100">
        <input
          [disabled]="disabled"
          type="text"
          [ngClass]="{ 'is-submit': submit }"
          mask="separator.2"
          thousandSeparator=","
          [(ngModel)]="value"
          [placeholder]="placeholder"
          class="form-control"
        />
      </div>
    </ng-container>
  </ng-template>

  <ng-template #checkbox>
    <ng-container *ngIf="type == 'checkbox'; else orther">
      <div class="switch-control">
        <label class="switch">
          <input
            [ngClass]="{ 'is-submit': submit }"
            [tabindex]="tab"
            [required]="required"
            type="checkbox"
            [disabled]="disabled"
            [(ngModel)]="value"
          />
          <span class="slider"></span>
        </label>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #orther>
    <div
      class="text-control w-100"
      [ngClass]="{ 'show-remove': value && value.length > 0 }"
    >
      <input
        [required]="required"
        [disabled]="disabled"
        [ngClass]="{ 'is-submit': submit }"
        [type]="type"
        #text="ngModel"
        [tabindex]="tab"
        #ab
        [(ngModel)]="value"
        [placeholder]="placeholder"
        class="form-control"
      />
      <!-- <button *ngIf="!disabled" type="button" class="btn btn-clear" (click)="clearValue(); ab.focus()">
        <i class="fa-solid fa-xmark"></i>
      </button> -->
      <input-validate
        [submit]="submit"
        [parent]="text"
        [name-control]="label"
      ></input-validate>
    </div>
  </ng-template>
</div>
