.form-group {
  position: relative;
  label {
    font-size: 14px;
    color: #535353;
  }
  .form-control {
    border-radius: 0;
    &.ng-dirty.ng-invalid,
    &.is-submit.ng-invalid {
      border-color: #dc3545;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      &.novalid-icon {
        background: none;
        padding: 5px;
      }
    }
    // &.ng-dirty.ng-valid,
    // &.is-submit.ng-valid {
    //   border-color: #28a745;
    //   padding-right: calc(1.5em + 0.75rem);
    //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    //   background-repeat: no-repeat;
    //   background-position: right calc(0.375em + 0.1875rem) center;
    //   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    //   &.novalid-icon {
    //     background: none;
    //     padding: 5px;
    //   }
    // }
    &:disabled {
      background-color: rgb(224 224 224) !important;
    }
    &:focus {
      outline-color: #4262f0;
      outline-width: 0;
      border-color: #4262f0;
    }
  }
  .time-control {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
    app-input-validate {
      top: 34px;
      position: absolute;
      width: 100%;
      right: 32px;
    }
  }
  &.form-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
    label {
      min-width: 140px;
      font-size: 14px;
    }
    input {
      padding: 6px 6px 6px 16px;
      font-size: 14px;
      border: 1px solid #d3d7de;
      border-radius: 2px;
      line-height: 1.43;
    }
  }
}
