@import "/src/assets/scss/var";
// .app{
//     width: 100%;
//     min-height: 100vh;
//     @include fs;
// }

.app-auth{
    .title{
        text-align: center;
        margin-bottom: 25px;
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
    }
    .form-control{
        padding: 10px 15px;
        border-radius: 0px;
    }
    .btn{
        padding: 10px 15px;
        border-radius: 0px;
    }
}