$green: #209070;

.block-ui {
  position: relative;
  padding: 15px;
  .content-wrapper {
    background: #fff;
    box-shadow: 0px 0px 7px 0px rgb(51 122 183 / 28%);
  }
  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(222 222 222 / 38%);
    z-index: 9;
    // display: none;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s linear, opacity 0.3s linear;

    .ldr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      width: 2.5em;
      height: 2.5em;
      .ldr-blk {
        height: 35%;
        width: 35%;
        animation: pulse 0.75s ease-in infinite alternate;
        background-color: darken($green, 1%);
      }
      .an_delay {
        animation-delay: 0.75s;
      }
    }
  }
  &.on-loading {
    & > .loading {
      // animation: fade-in 1s ease-out;
      // display: flex;
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
