<div class="register">
    <div class="wrap">
        <base-block id="register">
            <form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
                <h3 class="title">Đăng Ký</h3>
                <div class="form-content">
                    <div class="row">
                        <div class="col-12">
                            <base-input [required]="true" name="fullName" label="Họ và tên" [(ngModel)]="user.fullName" placeholder="Họ và tên" class="mb-3"></base-input>
                        </div>
                        <div class="col-12">
                            <base-input [required]="true" type="email" name="email" label="Email" [(ngModel)]="user.email"  placeholder="Email" class="mb-3"></base-input>
                        </div>
                        <div class="col-6">
                            <base-input [required]="true" name="userName" label="Tên đăng nhập" [(ngModel)]="user.userName"  placeholder="Tên đăng nhập" class="mb-3"></base-input>
                        </div>
                        <div class="col-6">
                            <base-input [required]="true" type="password" name="password" label="Mật khẩu" [(ngModel)]="user.password"  placeholder="Mật khẩu" class="mb-3"></base-input>
                        </div>
                    </div>
                    <a class="link my-4 mb-3 d-block" [routerLink]="['/auth/forgot']" routerLinkActive="active" >Quên mật khẩu</a>
                    <button class="btn btn-primary w-100" type="submit" [disabled]="frm.invalid">
                        Đăng ký
                    </button>
                    <div class="d-block text-center mt-3">
                        <a class="link" [routerLink]="['/auth']" routerLinkActive="active" >Đăng nhập</a>
                    </div>
                </div>
            </form>
        </base-block>
        <span class="copy-right">Copyright ©2022 SIMMED IT</span>
    </div>
</div>