<div class="profile">
  <div class="wrap container">
    <base-block classBlock="p-0" id="profile" *ngIf="user">
      <div class="head d-flex align-items-center justify-content-center">
        <button class="btn me-2" (click)="backClicked()">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <h3 class="title m-0">CẬP NHẬT HỒ SƠ</h3>
      </div>
      <hr />
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="avatar d-flex align-items-center justify-content-center">
                <div class="img-avatar w-100">
                  <img class="rounded-circle w-100" loading="lazy" data-src="{{ user.avatar | staticUrl }}" [appImgMiss]="user.fullName" />
                  <button class="btn" data-bs-toggle="modal" (click)="uploadavatar.init()" data-bs-target="#modalAvatar">
                    <i class="fa-solid fa-upload"></i>
                  </button>
                </div>
              </div>
              <div class="mt-3 d-block">
                <h3 class="title my-0">{{ user.fullName }}</h3>
                <h3>{{ user.email }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
            <div class="form-content">
              <div class="row">
                <div class="col-12">
                  <base-input
                    [required]="true"
                    name="fullName"
                    label="Họ và tên"
                    [(ngModel)]="user.fullName"
                    placeholder="Họ và tên"
                    class="mb-3"
                  ></base-input>
                </div>
                <div class="col-12">
                  <base-input
                    [required]="true"
                    type="email"
                    name="email"
                    label="Email"
                    [(ngModel)]="user.email"
                    placeholder="Email"
                    class="mb-3"
                  ></base-input>
                </div>
                <div class="col-12">
                  <base-input
                    [required]="true"
                    name="userName"
                    label="Tên đăng nhập"
                    [(ngModel)]="user.userName"
                    placeholder="Tên đăng nhập"
                    class="mb-3"
                  ></base-input>
                </div>
                <div class="col-6">
                  <base-input
                    type="password"
                    name="password"
                    label="Mật khẩu cũ"
                    [(ngModel)]="user.secondPassword"
                    placeholder="Mật khẩu cũ"
                    class="mb-3"
                  ></base-input>
                </div>
                <div class="col-6">
                  <base-input
                    type="password"
                    name="password"
                    label="Mật khẩu"
                    [(ngModel)]="user.password"
                    placeholder="Mật khẩu"
                    class="mb-3"
                  ></base-input>
                </div>
              </div>
              <button class="btn btn-primary w-100" type="submit" [disabled]="frm.invalid">Cập nhật</button>
            </div>
          </form>
        </div>
      </div>
    </base-block>
    <span class="copy-right">Copyright ©2022 SIMMED IT</span>
  </div>
</div>

<div class="modal fade base-modal" id="modalAvatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5">Cập nhật ảnh đại diện</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <base-upload #uploadavatar [multiple]="false" (done)="handleAttach($event); hideModalAvatar()"></base-upload>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary me-2" [disabled]="uploadavatar.fileUploads.length == 0" (click)="uploadavatar.handleFiles()">
          <i class="fa-solid fa-image px-1 me-1"></i> cập nhật
        </button>
      </div>
    </div>
  </div>
</div>
