<div
  class="form-group text-start"
  [class]="class"
  [ngClass]="{ 'form-row': row }"
>
  <label *ngIf="label">
    {{ label }}
    <span class="text-danger ms-1" *ngIf="required">*</span>
  </label>
  <input
    type="text"
    hidden
    [required]="required"
    #xtext="ngModel"
    [(ngModel)]="value"
  />
  <div class="select-control">
    <button
      class="select-selection"
      [ngClass]="{
        'ng-invalid': xtext.errors,
        'ng-valid': !xtext.errors,
        'ng-dirty': dirty,
        'is-submit': submit
      }"
      data-bs-boundary="viewport"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      [disabled]="disabled"
      (click)="loadData()"
    >
      <div *ngIf="mutiple; else other_content">
        <span
          class="select-value"
          style="color: #b3b3b3"
          *ngIf="
            value == undefined ||
            value == null ||
            value == -1 ||
            value.length == 0 ||
            (!value[config.displayMember] && !key)
          "
        >
          --Không chọn--
        </span>
        <span
          class="select-value"
          *ngIf="(value && value.length > 0) || value === 0"
        >
          {{ text }}
        </span>
      </div>
      <ng-template #other_content>
        <span
          class="select-value"
          style="color: #b3b3b3"
          *ngIf="
            value == undefined ||
            value == null ||
            value == -1 ||
            (!value[config.displayMember] && !key)
          "
        >
          {{ defaultText }}
        </span>
        <span class="select-value" *ngIf="value != null && value != -1 && key">
          <span [innerHTML]="text"></span>
        </span>
        <span class="select-value" *ngIf="value && !key">{{
          value[config.displayMember]
        }}</span>
      </ng-template>
    </button>
    <div class="dropdown-menu dropdown-menu-end">
      <div class="search" *ngIf="!nosearch">
        <input
          type="text"
          (keydown)="doSearch()"
          [(ngModel)]="keyword"
          placeholder="Tìm kiếm"
        />
        <button class="btn" type="button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <ul class="list-result scrollbar style-3">
        <li *ngIf="!nodefault">
          <div (click)="choose(null, $event)" class="list-result-item">
            <span style="color: #b3b3b3">{{ defaultText }}</span>
          </div>
        </li>
        <li *ngFor="let item of listVib">
          <div (click)="choose(item, $event)" class="list-result-item">
            <div class="checkbox" *ngIf="mutiple">
              <input type="checkbox" [(ngModel)]="item.checked" />
            </div>
            <ng-container
              *ngTemplateOutlet="
                customOption || defaultOption;
                context: { $implicit: item }
              "
            ></ng-container>
            <ng-template #defaultOption>
              <div [innerHTML]="item[config.displayMember]"></div>
            </ng-template>
          </div>
        </li>
      </ul>
      <div class="loading text-center">
        <div class="lds-ellipsis" *ngIf="isLoading">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <input-validate
      [submit]="submit"
      [parent]="xtext"
      [name-control]="label"
    ></input-validate>
  </div>
</div>
