.form-group {
  position: relative;
  label {
    font-size: 13px;
    color: #535353;
  }
  .select-control {
    flex-grow: 1;
    background: #fff;
    font-size: 13px;
    position: relative;
    .select-selection {
      width: 100%;
      height: 28.2px;
      display: block;
      border-radius: 3px;
      border: 1px solid #d3d7de;
      background: transparent;
      color: #212529;
      &:focus {
        outline-color: #4262f0;
        outline-width: 0;
        border-color: #4262f0;
      }
      &::after {
        position: absolute;
        right: 10px;
        top: 6px;
        font-family: "Font Awesome 6 Free";
        content: "\f078";
        font-weight: 900;
      }
      &.show {
        &::after {
          content: "\f077";
        }
      }
      .select-value {
        // text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 30px);
        line-height: 28.2px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0px 10px;
        padding-right: 0px;
      }

      &.ng-dirty.ng-invalid,
      &.is-submit.ng-invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(1.7em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        &.novalid-icon {
          background: none;
          padding: 5px;
        }
      }
      // &.ng-dirty.ng-valid,
      // &.is-submit.ng-valid {
      //   border-color: #28a745;
      //   padding-right: calc(1.5em + 0.75rem);
      //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      //   background-repeat: no-repeat;
      //   background-position: right calc(1.7em + 0.1875rem) center;
      //   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      //   &.novalid-icon {
      //     background: none;
      //     padding: 5px;
      //   }
      // }
      &:disabled {
        // background-color: rgb(211 218 220 / 38%) !important;
        border-bottom: 1px solid #e7e7e7;
        color: rgb(161, 160, 160);
        background: #f9f9f9;
      }
    }
    .dropdown-menu {
      box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.17);
      border: none;
      // padding-top: 40px;
      min-width: 100%;
      position: relative;
      .search {
        display: flex;
        flex-direction: row;
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        border-bottom: 1px solid rgb(209, 209, 209);
        input {
          width: 100%;
          padding: 0px 10px;
          border: none;
          &:focus,
          &:focus-visible {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }
        .btn {
          padding: 2px;
          border: none;
          &:focus,
          &:focus-visible {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .list-result {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
        max-height: calc(100vh / 3);
        min-width: 180px;
        overflow: hidden;
        overflow-y: auto;
        li {
          &:first-child {
            .list-result-item {
              border-top: none;
            }
          }
          .list-result-item {
            cursor: pointer;
            border-top: 1px solid rgb(230, 230, 230);
            padding: 5px 10px;
            display: flex;
            & > .checkbox {
              width: 20px;
              flex-grow: unset;
            }
            & > * {
              flex-grow: 1;
            }
            span {
              white-space: nowrap;
              font-size: 14px;
            }
            &:hover {
              background: rgba(rgb(178, 178, 178), 20%);
            }
          }
        }
      }
    }
  }

  .form-control {
    display: block;
    width: 100%;
    border: none;
    background-color: #04aa6d;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  &.form-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
    label {
      min-width: 140px;
      font-size: 14px;
    }
    input {
      padding: 6px 32px 6px 16px;
      font-size: 14px;
      border: 1px solid #d3d7de;
      border-radius: 2px;
      line-height: 1.43;
    }
  }
  &.text-start {
    .select-selection {
      text-align: left;
    }
  }
  &.text-center {
    .select-selection {
      text-align: center;
    }
  }
  &.material {
    .select-control {
      .select-selection {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #cdcdcd;
        padding: 2px 6px;
        &:focus {
          box-shadow: none;
          border-bottom: 1px solid #015bcf;
        }
      }
    }
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 16px;
  div {
    position: absolute;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #c2c2c2;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}
