// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$base-ui-pwa-primary: mat.define-palette(mat.$indigo-palette);
$base-ui-pwa-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$base-ui-pwa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$base-ui-pwa-theme: mat.define-light-theme(
  (
    color: (
      primary: $base-ui-pwa-primary,
      accent: $base-ui-pwa-accent,
      warn: $base-ui-pwa-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($base-ui-pwa-theme);

/* You can add global styles to this file, and also import other style files */
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "ngx-toastr/toastr-bs5-alert";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
