.base-float {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1024;
    display: none;
    &.show {
      display: flex;
    }
    .overlay {
      height: 100%;
      width: 100%;
      background: rgb(225 225 225 / 50%);
    }
    .dialog {
      position: absolute;
      box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 21%);
      left: 0;
      top: 86px;
      height: 0;
      width: 100%;
      height: calc(100% - 86px);
      z-index: 1024;
      display: flex;
      flex-direction: column;
      background: #fff;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        background: rgb(247 247 247);
        border-bottom: 1px solid rgb(173, 173, 173);
        .title {
          margin: 0;
          font-weight: bold;
          font-size: 14px;
        }
        .btn {
          font-size: 13px;
          padding: 0 5px;
        }
      }
      .body {
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
      }
      .footer {
        background: rgb(247 247 247);
        border-top: 1px solid rgb(173, 173, 173);
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 5px 15px;
        .btn {
          padding: 5px 15px;
          border-radius: 0;
          font-size: 13px;
        }
      }
    }
  }
  