<div class="base-import">
  <div class="header">
    <h3 class="title">{{ title }}</h3>
    <base-step
      class="w-100"
      [(step)]="step"
      onlyStep="true"
      [list]="[
        { step: 1, label: 'Chọn tệp nguồn' },
        { step: 2, label: 'Ghép dữ liệu' },
        { step: 3, label: 'Xem trước' },
        { step: 4, label: 'Nhập khẩu' }
      ]"
    ></base-step>
  </div>
  <div class="content">
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="error"
    >
      <button type="button" class="btn-close" (click)="error = null"></button>
      {{ error }}
    </div>

    <div class="step1" *ngIf="step == 1">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="upload-control" *ngIf="!file">
            <div
              class="upload-context"
              (dragover)="onDragOver($event, 'before')"
              (drop)="onDrop($event, 'before')"
              (dragenter)="onDragEnter($event, 'before')"
              (dragleave)="onDragLeave($event, 'before')"
              [ngClass]="{ 'is-highlight': isHighlight }"
            >
              <div class="uploader-inline-content no-upload-message">
                <div class="upload-ui">
                  <h4 class="upload-instructions drop-instructions">
                    Thả các tập tin để tải lên
                  </h4>
                  <p class="upload-instructions drop-instructions">hoặc</p>
                  <button type="button" class="btn btn-outline-primary btn-lg">
                    Chọn tập tin
                  </button>
                  <input
                    #controlFile
                    (change)="inputFileChange($event)"
                    [id]="'id-upload' + autoId"
                    type="file"
                    accept="*"
                  />
                  <label [for]="'id-upload' + autoId"></label>
                </div>
                <div class="upload-inline-status"></div>
                <p class="max-upload-size">
                  Kích thước tập tin tải lên tối đa: 16 MB
                </p>
              </div>
            </div>
            <div class="text-center my-4">
              <a
                [href]="exam"
                [download]="'import_template.xlsx'"
                target="_blank"
                class="link d-block mb-2"
              >
                <i class="fa-solid fa-download me-2"></i> Tải file mẫu
              </a>
              <span
                >Cho phép nhập khẩu tối đa 5.000 dòng dữ liệu, giới hạn dung
                lượng file nhập khẩu 20Mb</span
              >
            </div>
          </div>
          <div class="upload -preview" *ngIf="file">
            <div class="mb-3 form-group">
              <label class="form-label">Thông tin file : </label>
              <div class="upload-item">
                <i class="m-2 fa-5x fa-solid fa-file-excel"></i>
                <div class="info">
                  <span class="label">{{ file.name }}</span> -
                  <span class="size"
                    >size: {{ (file.size / 1024).toFixed(2) }} KB</span
                  >
                  <button class="btn btn-remove" (click)="removeFile()">
                    <i class="fa-solid fa-xmark text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step2" *ngIf="step == 2">
      <div class="d-flex mb-2">
        <button
          (click)="chooseTabMap(0)"
          class="btn btn-outline-primary btn-sm rounded-pill me-2"
          [ngClass]="{ active: tabMapIndex == 0 }"
        >
          Tất cả
        </button>
        <button
          (click)="chooseTabMap(1)"
          class="btn btn-outline-secondary btn-sm rounded-pill me-2"
          [ngClass]="{ active: tabMapIndex == 1 }"
        >
          Đã ghép
        </button>
        <button
          (click)="chooseTabMap(2)"
          class="btn btn-outline-warning btn-sm rounded-pill me-2"
          [ngClass]="{ active: tabMapIndex == 2 }"
        >
          Chưa ghép
        </button>
      </div>
      <table class="table table-striped table-bordered align-middle">
        <thead>
          <tr>
            <th>Trường trên CRM</th>
            <th>Mô tả</th>
            <th>Trường trên tệp Nguồn</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of objectMapperView; let i = index"
            [ngClass]="{
              invalid:
                header.length > 0 &&
                (item.indexMap == null || item.indexMap < 0)
            }"
          >
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.desc }}
            </td>
            <td>
              <base-select
                [(ngModel)]="item.indexMap"
                [list]="_headerObject"
                [config]="{ displayMember: 'label', valueMember: 'id' }"
                key="id"
                [name]="'maper_' + i"
              ></base-select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="step3" *ngIf="step == 3">
      <table class="table table-striped table-bordered align-middle">
        <thead>
          <tr>
            <th>#</th>
            <th *ngFor="let item of objectMapper">
              {{ item.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of _dataRs; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let map of objectMapper">
              {{ item[map.param] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="step4" *ngIf="step == 4">
      <div class="row justify-content-center">
        <div class="import text-center py-5">
          <div class="my-3 form-group">
            <label class="form-label"
              >Chọn loại nhập khẩu đối với các bản ghi :
            </label>
            <div>
              <div
                class="form-check form-check-inline"
                title="Chọn mục này nếu bạn chỉ muốn thêm dữ liệu mới nếu chưa tồn tại"
              >
                <input
                  class="form-check-input"
                  id="type_1"
                  type="radio"
                  name="typeImport"
                  [(ngModel)]="typeImport"
                  [value]="1"
                />
                <label class="form-check-label" for="type_1">Thêm</label>
              </div>
              <div
                class="form-check form-check-inline"
                title="Chọn mục này nếu bạn chỉ muốn cập nhật lại dữ liệu đã có"
              >
                <input
                  class="form-check-input"
                  id="type_2"
                  type="radio"
                  name="typeImport"
                  [(ngModel)]="typeImport"
                  [value]="2"
                />
                <label class="form-check-label" for="type_2">Cập nhật</label>
              </div>
              <div
                class="form-check form-check-inline"
                title="Chọn mục này nếu bạn muốn cập nhật lại nếu dữ liệu đã có và thêm mới nếu dữ liệu chưa có"
              >
                <input
                  class="form-check-input"
                  id="type_3"
                  type="radio"
                  name="typeImport"
                  [(ngModel)]="typeImport"
                  [value]="3"
                />
                <label class="form-check-label" for="type_3">Cả hai</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-outline-secondary me-2 btn-sm">Hủy bỏ</button>
    <button
      class="btn btn-outline-secondary me-2 btn-sm"
      (click)="prev()"
      *ngIf="step > 1"
    >
      Quay lại
    </button>
    <button
      class="btn btn-primary btn-sm"
      (click)="next()"
      *ngIf="step < 4"
      [disabled]="!file || disableNext"
    >
      Tiếp theo
    </button>
    <button
      *ngIf="step == 4"
      class="btn btn-primary btn-lg px-4"
      (click)="doImport()"
    >
      <i class="fa-solid fa-cloud-arrow-up me-2"></i> Nhập khẩu
    </button>
  </div>
</div>
