$color-primary: #4bb543;

.base-import {
  .header {
    display: flex;
    align-items: center;
    background: rgb(244, 244, 244);
    .title {
      display: inline;
      white-space: nowrap;
      font-size: 18px;
      font-weight: bold;
      padding: 0 20px;
      margin: 0;
    }
  }
  .upload-context {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    border: 4px dashed #c3c4c7;
    text-align: center;
    .upload-ui {
      h4 {
        margin-top: 20px;
        margin-bottom: 6px;
      }
      input {
        display: none;
      }
      label {
        position: absolute;
        width: 100%;
        background: transparent;
        border: none;
        padding: 0;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        text-align: center;
        cursor: pointer;
      }
      .btn {
        padding: 3px 15px;
        margin-bottom: 15px;
      }
    }
    &.is-highlight {
      border: 4px dashed #238be0;
    }
    .max-upload-size {
      font-size: 13px;
      font-style: italic;
    }
  }
  .content {
    padding: 20px 15px;
  }
  .footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn {
      font-size: 13px;
    }
  }
}

.table {
  tbody {
    td {
      padding: 2px 5px;
    }
  }
  .invalid {
    background: rgb(255 0 0 / 5%);
    border-top-color: red;
    border-bottom-color: red;
    td {
      color: red !important;
    }
  }
}

.form-group {
  .form-label {
    font-size: 15px;
    font-weight: bolder;
  }
}
