<div
  class="context"
  (dragover)="onDragOver($event, 'before')"
  (drop)="onDrop($event, 'before')"
  (dragenter)="onDragEnter($event, 'before')"
  (dragleave)="onDragLeave($event, 'before')"
  [ngClass]="{ 'is-highlight': isHighlight }"
  *ngIf="multiple || (!multiple && filePendings.length == 0)"
>
  <div class="uploader-inline-content no-upload-message">
    <div class="upload-ui">
      <h4 class="upload-instructions drop-instructions">Thả các tập tin để tải lên</h4>
      <p class="upload-instructions drop-instructions">hoặc</p>
      <button type="button" class="btn btn-outline-primary btn-lg">Chọn tập tin</button>
      <input *ngIf="multiple" multiple #controlFile (change)="inputFileChange($event)" [id]="'id-upload' + autoId" type="file" accept="*" />
      <input *ngIf="!multiple" #controlFile (change)="inputFileChange($event)" [id]="'id-upload' + autoId" type="file" accept="*" />
      <label [for]="'id-upload' + autoId"></label>
    </div>
    <div class="upload-inline-status"></div>
    <p class="max-upload-size">Kích thước tập tin tải lên tối đa: 16 MB</p>
  </div>
</div>
<div class="list-uploads" *ngIf="multiple">
  <div *ngFor="let item of filePendings" class="upload-item d-flex align-items-center" [ngClass]="{ error: item.isError }">
    <div class="left d-flex align-items-center">
      <img *ngIf="item.preview" class="img me-2" [src]="item.preview" />
      <i
        *ngIf="!item.preview"
        class="m-2 fa-2x fa-solid"
        [ngClass]="{
          'fa-file': !item.checkType(),
          'fa-file-word':
            item.file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || item.file.type == 'application/msword',
          'fa-file-pdf': item.file.type == 'application/pdf',
          'fa-file-excel':
            item.file.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || item.file.type == 'application/vnd.ms-excel',
          'fa-file-zipper': item.file.type == 'application/x-zip-compressed'
        }"
      ></i>
      <span class="label">{{ item.file.name }}</span>
    </div>
    <div class="right">
      <span class="size">{{ (item.file.size / 1024).toFixed(2) }} KB</span>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          aria-label="Success striped example"
          [style]="'width:' + item.progress + '%'"
        ></div>
      </div>
      <button class="btn" (click)="removeFile(item)">
        <i class="fa-solid fa-xmark text-danger"></i>
      </button>
    </div>
  </div>
</div>
<div class="single-upload" *ngIf="!multiple">
  <div class="upload-item" *ngFor="let item of filePendings" [ngClass]="{ error: item.isError }">
    <img *ngIf="item.preview" class="img me-2" [src]="item.preview" />
    <i
      *ngIf="!item.preview"
      class="m-2 fa-9x fa-solid"
      [ngClass]="{
        'fa-file': !item.checkType(),
        'fa-file-word':
          item.file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || item.file.type == 'application/msword',
        'fa-file-pdf': item.file.type == 'application/pdf',
        'fa-file-excel':
          item.file.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || item.file.type == 'application/vnd.ms-excel',
        'fa-file-zipper': item.file.type == 'application/x-zip-compressed'
      }"
    ></i>
    <div class="info">
      <span class="label">{{ item.file.name }}</span>
      <span class="size">size: {{ (item.file.size / 1024).toFixed(2) }} KB</span>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          aria-label="Success striped example"
          [style]="'width:' + item.progress + '%'"
        ></div>
      </div>
      <button class="btn btn-remove" (click)="removeFile(item)">
        <i class="fa-solid fa-xmark text-danger"></i>
      </button>
    </div>
  </div>
</div>
