.context {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  border: 4px dashed #c3c4c7;
  text-align: center;
  .upload-ui {
    h4 {
      margin-top: 20px;
      margin-bottom: 6px;
    }
    input {
      display: none;
    }
    label {
      position: absolute;
      width: 100%;
      background: transparent;
      border: none;
      padding: 0;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      text-align: center;
      cursor: pointer;
    }
    .btn {
      padding: 3px 15px;
      margin-bottom: 15px;
    }
  }
  &.is-highlight {
    border: 4px dashed #238be0;
  }
  .max-upload-size {
    font-size: 13px;
    font-style: italic;
  }
}

.list-uploads {
  .upload-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    box-shadow: 1px 1px 13px 1px rgb(0 0 0 / 9%);
    .img {
      width: 70px;
      height: 60px;
      object-fit: cover;
    }
    .label {
      padding: 5px 0;
    }
    .right {
      display: flex;
      align-items: center;
      .size {
        margin-right: 10px;
        width: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .progress {
        width: 135px;
      }
    }

    &.error {
      color: rgb(109, 12, 5);
    }
  }
}

.single-upload {
  .upload-item {
    text-align: center;
    border: 1px dotted;
    padding: 0px;
    padding-top: 15px;
    .img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      max-width: 100%;
    }
    .info {
      background: #fff;
      box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.155);
      text-align: left;
      padding: 10px;
      margin-top: 20px;
      position: relative;
      .label {
        display: block;
      }
      .size {
        display: block;
      }

      .btn-remove {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }
  }
}
